{% load staticfiles %}

{% load front_tags %}

<footer id="footer" class="top-space">

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        {% front_edit "footer right side" request.path request.LANGUAGE_CODE %}
                        <p class="text-left">
                            Copyright &copy; 2016, CNYLAN
                        </p>
                        {% end_front_edit %}
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

</footer>