{% load staticfiles %}
{% load front_tags %}
<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>

<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
{% front_edit_scripts editor="ckeditor" %}

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="{% static 'pages/js/headroom.min.js' %}"></script>

<script src="{% static 'pages/js/jQuery.headroom.min.js' %}"></script>

<script src="{% static 'pages/js/template.js' %}"></script>


