{% extends "pages/base.html" %}

{% load front_tags %}

{% block head_title %}Home{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block header %}

<!-- Header -->
<header id="head" style="background:url('{% if homepage.banner_image %}{{ homepage.banner_image.url }}{% endif %}')">
    <div class="container">
        <div class="row">
            <h1 class="lead">{{ homepage.heading }}</h1>
            <p class="tagline">{{ homepage.subheading }}</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="2H9ZMVMYPP8FS">
            <input type="submit" value='{{ event.pay_button_text }}' class='btn btn-success btn-lg'>
            </form>
        </div>
    </div>
</header>
<!-- /Header -->
{% endblock header %}

{% block content %}
 <!-- Page Content -->
<hr>
<!-- Intro -->

<div class="container">
        <div class="row">
            
            <!-- Article main content -->
            <article class="col-md-6">
                <h1 class="page-title"><strong>{{ event.event_name }}</strong> </h1>
                <p><strong>Date:</strong> {{ event.event_start_date|date:"D, M d" }} to {{ event.event_end_date|date:"D, M d"  }}</p>
                <p><strong>Location:</strong> {{ event.venue }}, {{ event.full_address }}</p>
                {% front_edit "first content area" request.path request.LANGUAGE_CODE %}
                <p>Stuff here about the event Stuff here about the event Stuff here about the event Stuff here about the event</p>
                <p>Stuff here about the event Stuff here about the event Stuff here about the event Stuff here about the event</p>
                {% end_front_edit %}
            </article>
            <!-- /Article -->
            
            <!--  1st image -->
            <aside class="col-md-6">
                {% if homepage.first_image %}
        		<img class="img-responsive img-circle" src="{{ homepage.first_image.url }}"></img>
                {% else %}
                <p style="color:red;">You need to add the first content image in admin</p>
                {% endif %}
            </aside>
            <!-- /1st image -->

        </div>

	<hr>
        <div class="row">

            <!-- Article 2 main content -->
            <article class="col-sm-6 col-sm-push-6">
                {% front_edit "second content area" request.path request.LANGUAGE_CODE %}
                <h1 class="page-title"><strong>Second Content Heading</strong> </h1>                
                <p>Stuff here about the event Stuff here about the event Stuff here about the event Stuff here about the event</p>
                {% end_front_edit %}
            </article>
            <!-- 2nd image -->
            <aside class="col-sm-6 col-sm-pull-6">
                {% if homepage.second_image %}
        		<img class="img-responsive img-circle" src="{{ homepage.second_image.url }}"></img>
                {% else %}
                <p style="color:red;">You need to add the second content image in admin<</p>
                {% endif %}
            </aside>

            <!-- /2nd image -->

            <!-- /Article 2-->
        </div>
	
	<hr>

        <div class="row">
            
            <!-- Article main content -->
            <article class="col-md-6">
                {% front_edit "third content area" request.path request.LANGUAGE_CODE %}
                <h1 class="page-title"><strong>Third Content Heading</strong></h1>                
                <p>Stuff here about the event Stuff here about the event Stuff here about the event Stuff here about the event</p>
                {% end_front_edit %}
            </article>
            <!-- /Article -->

            <!-- 3rd image -->
            <aside class="col-md-6">
                {% if homepage.third_image %}
        		<img class="img-responsive img-circle" src="{{ homepage.third_image.url }}"></img>
                {% else %}
                <p style="color:red;">You need to add the third content image in admin<</p>
                {% endif %}
            </aside>
            <!-- /3rd image -->
        </div>
    
</div>
{% endblock content %}
