{% extends "pages/base.html" %}

{% load front_tags thumbnail %}

{% block head_title %}Home{% endblock %}

{% block bodyclass %}home{% endblock %}

{% block header %}

<!-- Header -->
<header id="head" style="background:url('{% if banner_image %}{{ banner_image.url }}{% endif %}')">
    <div class="container">
        <div class="row">
            <h1 class="lead">{{ homepage.heading }}</h1>
            <p class="tagline">{{ homepage.subheading }}</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="2H9ZMVMYPP8FS">
            <button type="submit" value='' class='btn btn-success'>
            <span class="glyphicon glyphicon-shopping-cart"></span>  {{ event.pay_button_text }}
            </button>
            </form>
        </div>
    </div>
</header>
<!-- /Header -->
{% endblock header %}

{% block content %}
 <!-- Page Content -->
<hr>
<!-- Intro -->

<div class="container">
        <div class="row">
            
            <!-- Article main content -->
            <article class="col-md-6 maincontent">
                <h1 class="page-title"><strong>{{ event.event_name }}</strong> </h1>
                <p><strong>Date:</strong> {{ event.event_start_date|date:"D, M d" }} to {{ event.event_end_date|date:"D, M d"  }}</p>
                <p><strong>Location:</strong> {{ event.venue }}, {{ event.full_address }}</p>
                {% front_edit "first content area" request.path request.LANGUAGE_CODE %}
                <p>Stuff here about the event Stuff here about the event Stuff here about the event Stuff here about the event</p>
                <p>Stuff here about the event Stuff here about the event Stuff here about the event Stuff here about the event</p>
                {% end_front_edit %}




            </article>
            <!-- /Article -->
            
            <!-- Sidebar -->
            <aside class="col-md-6 sidebar sidebar-right">

                <div class="row widget">
                    <div class="col-xs-12">
                        {% thumbnail homepage.first_image "500" as im %}
                        <img class="img-responsive img-circle" src="{{ im.url }}"></img>
                        {% endthumbnail %}

                    </div>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>

        <div class="row">
            
            <!-- Left Sidebar -->
            <aside class="col-md-6 sidebar sidebar-right">

                <div class="row widget">
                    <div class="col-xs-12">
                        {% thumbnail homepage.second_image "500" as im %}
                        <img class="img-responsive img-circle" src="{{ im.url }}"></img>
                        {% endthumbnail %}

                    </div>
                </div>

            </aside>
            <!-- /Left Sidebar -->
            
            <!-- Article 2 main content -->
            <article class="col-md-6 maincontent">
                {% front_edit "second content area" request.path request.LANGUAGE_CODE %}
                <h1 class="page-title"><strong>Second Content Heading</strong> </h1>                
                <p>Stuff here about the event Stuff here about the event Stuff here about the event Stuff here about the event</p>
                {% end_front_edit %}
            </article>
            <!-- /Article 2-->

        </div>
        <div class="row">
            
            <!-- Article main content -->
            <article class="col-md-6 maincontent">
                {% front_edit "third content area" request.path request.LANGUAGE_CODE %}
                <h1 class="page-title"><strong>Third Content Heading</strong></h1>                
                <p>Stuff here about the event Stuff here about the event Stuff here about the event Stuff here about the event</p>
                {% end_front_edit %}

            </article>
            <!-- /Article -->
            
            <!-- Sidebar -->
            <aside class="col-md-6 sidebar sidebar-right">

                <div class="row widget">
                    <div class="col-xs-12">
                        {% thumbnail homepage.third_image "500" as im %}
                        <img class="img-responsive img-circle" src="{{ im.url }}"></img>
                        {% endthumbnail %}

                    </div>
                </div>

            </aside>
            <!-- /Sidebar -->

        </div>
    
</div>
{% endblock content %}