{% extends "pages/base.html" %}

{% load front_tags %}

{% block head_title %}About{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
        {% front_edit "about us" request.path request.LANGUAGE_CODE %}
		<h2>About Us</h2>
		<p class="lead">content about us goes here</p>
        {% end_front_edit %}
		</div>
	</div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Games Played</h2>

                {% for game in games %}
                <div class="col-sm-2">
                <div class="thumbnail">
                <a href="{{ game.url }}" class="overlay">
                </a>
                <img class="img-responsive" alt="{{ game.title }}" src="{% if game.image %}{{ game.image.url }}{% endif %}">
                </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Sponsors</h2>

                {% for sponsor in sponsors %}
                <div class="col-sm-2">
                <div class="thumbnail">
                <a href="{{ game.url }}" class="overlay">
                </a>
                <img class="img-responsive" alt="{{ sponsor.name }}" src="{% if sponsor.image %}{{ sponsor.image.url }}{% endif %}">
                </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
