{% extends "pages/base.html" %}
{% load staticfiles thumbnail %}

{% block head_title %}Events{% endblock %}

{% block custom_css %}
{{ block.super }}
<link href="{% static 'lanapp/css/events_list.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="{% url 'pages:index' %}">Home</a></li>
		<li class="active">LANS</li>
	</ol>

	<div class="row">
		<header class="page-header">
			<h1 class="page-title">Listing of LAN Events</h1>
		</header>
		
		<div class="col-md-8 list-group">
		
		{% for event in events %}<!-- Content Item -->
			<div class="row">
	
				<h2>{{ event.event_name }}</h2>

				<div class="col-md-4">
			        {% thumbnail event.image "500" as im %}
					<p><img src="{{ im.url }}" alt=""></p>
					{% endthumbnail %}	
				</div>

				<div class="col-md-8">
					{% if event.event_coming_soon %}
					<span class="label label-info pull-left">Coming Soon </span><br/>
					{% endif %}
					<p class="text-muted">{{ event.event_start_date }} - {{ event.event_end_date }}<br/>
					{{ event.full_address }}</p>
					<a href="{% url 'lanapp:detail' event.id %}" class="btn btn-primary" role="button">
					<span class="glyphicon glyphicon-share-alt"></span>  More Info
					</a>
				</div>
						
			</div>
			<hr>
			{% endfor %}<!-- End Item -->
		</div>		

	</div>
	
</div>	<!-- /container -->

{% endblock content %}




