{% extends "pages/base.html" %}
{% load staticfiles front_tags thumbnail %}

{% block head_title %}{{ event.event_name }}{% endblock %}

{% block content %}

<header id="head" class="secondary"></header>
<div class="container">

		<ol class="breadcrumb">
			<li><a href="{% url 'pages:index' %}">Home</a></li>
			<li><a href="{% url 'lanapp:events' %}">LANS</a></li>
			<li class="active">{{ event.event_name }}</li>
		</ol>

        <div class="row">
            
            <!-- Article main content -->
            <article class="col-md-6 maincontent">
                    <h1 class="page-title"><strong>{{ event.event_name }}</strong> </h1>
                <p><strong>Date and Time:</strong> {{ event.event_start_date|date:"D, M d" }} to {{ event.event_end_date|date:"D, M d"  }}</p>
                <p><strong>Location:</strong> {{ event.venue }}, {{ event.full_address }}</p>
                {% thumbnail event.image "300" as im %}
                <img class="img-responsive img-thumbnail" src="{{ im.url }}"></img>
                {% endthumbnail %}
                {% front_edit "event details" request.path request.LANGUAGE_CODE %}
                <p>Stuff here about the event Stuff here about the event Stuff here about the event Stuff here about the event</p>
                <p>Stuff here about the event Stuff here about the event Stuff here about the event Stuff here about the event</p>
                {% end_front_edit %}
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="2H9ZMVMYPP8FS">
                    <button type="submit" value='' class='btn btn-success'>
                        <span class="glyphicon glyphicon-shopping-cart"></span>  {{ event.pay_button_text }}
                    </button>
                    </form> 
                
            </article>
            <!-- /Article -->
            
            <!-- Sidebar -->
            <aside class="col-md-2 sidebar sidebar-right">

                <div class="row widget text-center">
                    <div class="col-xs-12">
                    	<h3>Games</h3>
                    	{% for game in games %}
                    	{% thumbnail game.image "150" as im %}
						<p><img src="{{ im.url }}" alt=""></p>
						{% endthumbnail %}
						<hr>
						{% endfor %}
                    	
                    </div>
                </div>
            </aside>
            <aside class="col-md-2 sidebar sidebar-right">

                <div class="row widget text-center">
                    <div class="col-xs-12">
                    	<h3>Sponsors</h3>
                    	{% for sponsor in sponsors %}
                    	{% thumbnail sponsor.image "150" as im %}
						<p><img src="{{ im.url }}" alt=""></p>
						{% endthumbnail %}
						<hr>
						{% endfor %}                    	
                    </div>
                </div>
              
            </aside>
            <aside class="col-md-2 sidebar sidebar-right">

                <div class="row widget text-center">
                    <div class="col-xs-12">
                    	<h3>Prizes</h3>
                    	{% for prize in prizes %}
                    	{% thumbnail prize.image "150" as im %}
						<a href="{{ prize.url }}"><img src="{{ im.url }}" alt=""></a>
						{% endthumbnail %}
						<hr>
						{% endfor %}                    	
                    </div>
                </div>
              
            </aside>
            <!-- /Sidebar -->

        </div>
	</div>	<!-- /container -->

{% endblock content %}
