{% extends "lanapp/base.html" %}
{% load staticfiles %}




{% block head_title %}Home{% endblock %}

{% block jumbotron %}
{% for event in upcoming_event %}
<div class="jumbotron">
  <!-- Full Width Image Header -->
  <header class="header-image" style="background:url('{% static "lanapp/img/cnylan2016_1.jpg" %}') no-repeat center center scroll; background-size:cover;">
      <div class="headline">
          <div class="container">
            <h1>Central New York LAN</h1>
            <h2><a href="{% url 'lanapp:detail' event.id %}">{{ event.event_name }}</a></h2>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="2H9ZMVMYPP8FS">
            <input type="submit" value='Click Here to Pay with Paypal' class='btn btn-success btn-lg'>
            </form>
          </div>
      </div>
  </header>
</div>
{% endfor %}
{% endblock jumbotron %}

{% block content %}

{% endblock content %}


